<!DOCTYPE html>
<html>
  <head>
    <title>Audio</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/"> Home </a>| <a href="/list"> List </a>| <a href="/table"> Table </a>| <a href="/audio"> Audio </a>| <a href="/video"> Video </a>| <a href="/storefront"> Storefront </a>
      <h1>Welcome to the Audio Page</h1>
      <p>Listen to an audio track using the HTML5 audio player.</p>
    </header>
    <section id="audio-section">
      <h2>Audio Player</h2>
    <audio controls>
      <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3" type="audio/mpeg">
    </audio>
    <p> Please use the HTML5 audio player given below to listen to the music track that is embedded. The controls on the audio player allow you to play, pause, and change the volume. If the audio element is not supported by your browser, a notice will appear and direct you to try another approach</p>
    </div>
  </body>
</html>

