<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
  <body>
      <header>
        <nav>
          <a href="/"> Home </a>| <a href="/list"> List </a>| <a href="/table"> Table </a>| <a href="/audio"> Audio </a>| <a href="/video"> Video </a>| <a href="/storefront"> Storefront </a>
        </nav>
        </header>
      <h1>Welcome to Website by Omkar</h1>
      <p>I am Omkar Patel, a student specializing in Computer Programming and Analysis. I plan to showcase my knowledge of Express routing, along with various innovative ideas and techniques related to HTML5.</p>
      
      <h2>What I Achieve In this Course?</h2>
      <p>My knowledge and expertise in web development have significantly increased as a result of this training. My comprehension of HTML, CSS, and JavaScript has substantially increased thanks to my participation in real-world projects and exercises. The useful knowledge and skills I have picked up during this course have really deepened my understanding of these topics.</p>
      
      <h2>About HTML5</h2>
      <p>Modern web standards like HTML5 offer improved functionality for producing and displaying information on the internet. Better accessibility, canvas for graphics, semantic markup, and offline storage are all supported. The entire user experience is enhanced by HTML5's ability to allow developers to create dynamic, interactive, and responsive websites.</p>
    </body>
 </html>
 
 
 