<!DOCTYPE html>
<html>
  <head>
    <title>List</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/"> Home </a>| <a href="/list"> List </a>| <a href="/table"> Table </a>| <a href="/audio"> Audio </a>| <a href="/video"> Video </a>| <a href="/storefront"> Storefront </a>
      </nav>
      </header>
    <h1>Welcome to the List Page</h1>
    
    <h2>About Me</h2>
    <p>My name is Omkar Patel and I am a student in the Computer Programming and Analysis program. My student ID is 159838218.</p>
    
    <h2>Benefits of Exercise</h2>
    <ul>
      <li>Cardiovascular Health
        <ol>
          <li>Running</li>
          <li>Cycling</li>
          <li>Swimming</li>
        </ol>
      </li>
      <li>Strength Training
        <ul>
          <li>Weightlifting</li>
          <li>Bodyweight Exercises</li>
          <li>Resistance Band Workouts</li>
        </ul>
      </li>
      <li>Flexibility
        <ol>
          <li>Yoga</li>
          <li>Pilates</li>
          <li>Stretching Exercises</li>
        </ol>
      </li>
    </ul>
  </body>
</html>
