<!DOCTYPE html>
<html>
  <head>
    <title>Table</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/"> Home </a>| <a href="/list"> List </a>| <a href="/table"> Table </a>| <a href="/audio"> Audio </a>| <a href="/video"> Video </a>| <a href="/storefront"> Storefront </a>
      </nav>
      <h1>Welcome to the Table Page</h1>
  <h3>Product Inventory and Customer Feedback Tables</h3>
  <table>
    <caption><strong>Table 1: Product Inventory</strong></caption>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Laptops</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10</td>
        <td>$899.99</td>
      </tr>
      <tr>
        <td>Smartphones</td>
        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5</td>
        <td>$599.99</td>
      </tr>
      <tr>
        <td>Headphones</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20</td>
        <td>$49.99</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$18,999.70</td>
      </tr>
    </tfoot>
  </table>
  <br>
  <br>
  <table>
    <caption><b>Table 2: Customer Data</b></caption>
    <thead>
      <tr>
        <th rowspan="2">Customer</th>
        <th colspan="2">Contact</th>
      </tr>
      <tr>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>&nbsp;&nbsp;&nbsp;john@example.com</td>
        <td>(437) 123-4567</td>
      </tr>
      <tr>
        <td>Jane Smith</td>
        <td>&nbsp;&nbsp;&nbsp;jane@example.com</td>
        <td>(647) 987-6543</td>
      </tr>
      <tr>
        <td>David Brown</td>
        <td>&nbsp;&nbsp;&nbsp;david@example.com</td>
        <td>(905) 789-0123</td>
      </tr>
    </tbody>
  </table>
  <p>Two tables are displayed on this page: "Product Inventory" and "Customer Data."

    Table 1 displays the items that are offered, including computers, cellphones, and headphones. It contains details on the number and cost of each item, with a total inventory value of $18,999.70.
    
    Customer information, including contact information such email addresses and phone numbers, is included in Table 2. John Doe, Jane Smith, and David Brown are the clients given, along with their contact details.</p>
</body>
</html>